
body {
 text-align: center;
 background: url("../images/background1.gif") no-repeat 50% fixed / cover;
}

h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /* background-color: whitesmoke; */
}

#level1, #level2, #level3 {
  color: cyan;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  line-height: 140px;
  
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 4px hsla(0, 0%, 0%, 0.8);
  background-image: url("../images/trippy.gif");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

#level1:hover, #level2:hover, #level3:hover {
-webkit-transform: rotatez(360deg);
-moz-transform: rotatez(360deg);
-o-transform: rotatez(360deg);
transform: rotatez(360deg);
}

#level1 {
  top: 15%;
  left: 0;
  -webkit-animation: moveButtons 6s linear 0s infinite alternate;
  -moz-animation: moveButtons 6s linear 0s infinite alternate;
  -o-animation: moveButtons 6s linear 0s infinite alternate;
  animation: moveButtons 6s linear 0s infinite alternate;
}

#level2 {
  top: 45%;
  left: 0;
  -webkit-animation: moveButtons 8s linear 0s infinite alternate;
  -moz-animation: moveButtons 8s linear 0s infinite alternate;
  -o-animation: moveButtons 8s linear 0s infinite alternate;
  animation: moveButtons 8s linear 0s infinite alternate;
}

#level3 {
  top: 75%;
  left: 0;
  -webkit-animation: moveButtons 11s linear 0s infinite alternate;
  -moz-animation: moveButtons 11s linear 0s infinite alternate;
  -o-animation: moveButtons 11s linear 0s infinite alternate;
  animation: moveButtons 11s linear 0s infinite alternate;
}

#joke-page {
    display: none; 
}
 
#media-page {
    display: none;
}

#event-page {
    display: none;
}

.gif
{
    border: 10px groove gray;
}

/* Button 3 Style*/
#event-appear-here {
    background-color: white;
    font-size: 20px;
}

#eventIMG {
  width: 500px;
}
#go-back3 {
    margin-top: 100px;
}

#jokeSetup {
    transition-delay: 10s;
    border-radius: 25px;
    text-align: center;
    font-family: fantasy;
    margin: auto;
    width: auto;
    border-style: dotted;
    border-width: 5px;
    border-color: lightgrey;
    font-size: 24px;
    padding: 50px;
    background-color: gray;
    color: white;
    overflow: hidden;
}

#jokeDelivery {
    transition-delay: 10s;
    border-radius: 25px;
    text-align: center;
    font-family: fantasy;
    margin: auto;
    width: auto;
    border-style: dotted;
    border-width: 5px;
    border-color: lightgrey;
    font-size: 24px;
    padding: 50px;
    background-color: gray;
    color: white;
}

#jokeGIF {
    background-color: gray;
    margin: auto;
    border-style: dotted;
    border-width: 5px;
    border-color: lightgrey;
    overflow: hidden;
}

b {
    text-align: center;
    line-height: 80px;
    
    z-index: -1;
    display: block;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px hsla(0, 0%, 0%, 0.2);
    background-color:black;
    position: absolute;
    -webkit-animation: moveX 8s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate, shadowAnim 2s linear 1s infinite alternate;
    -moz-animation: moveX 8s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate, shadowAnim 2s linear 1s infinite alternate;
    -o-animation: moveX 8s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate, shadowAnim 2s linear 1s infinite alternate;
    animation: moveX 8s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate, shadowAnim 2s linear 1s infinite alternate;
  }
  
  @-webkit-keyframes moveX {
    from { left: 5%; } to { left: 90%; }
  }
  @-moz-keyframes moveX {
    from { left: 5%; } to { left: 90%; }
  }
  @-o-keyframes moveX {
    from { left: 5%; } to { left: 90%; }
  }
  @keyframes moveX {
    from { left: 5%; } to { left: 90%; }
  }
  @-webkit-keyframes moveY {
    from { top: 5%; } to { top: 90%; }
  }
  @-moz-keyframes moveY {
    from { top: 5%; } to { top: 90%; }
  }
  @-o-keyframes moveY {
    from { top: 5%; } to { top: 90%; }
  }
  @keyframes moveY {
    from { top: 5%; } to { top: 90%; }
  }

  @keyframes shadowAnim {
    from {box-shadow: 0px 0px 6px 4px hsla(255, 100%, 100%, 0.2);}
    to {box-shadow: 0px 0px 15px 4px hsla(255, 100%, 100%, 1);}
  }

  @-o-keyframes shadowAnim {
    from {box-shadow: 0px 0px 6px 4px hsla(255, 100%, 100%, 0.2);}
    to {box-shadow: 0px 0px 15px 4px hsla(255, 100%, 100%, 1);}
  }

  @-moz-keyframes shadowAnim {
    from {box-shadow: 0px 0px 6px 4px hsla(255, 100%, 100%, 0.2);}
    to {box-shadow: 0px 0px 15px 4px hsla(255, 100%, 100%, 1);}
  }

  @-webkit-keyframes shadowAnim {
    from {box-shadow: 0px 0px 6px 4px hsla(255, 100%, 100%, 0.2);}
    to {box-shadow: 0px 0px 15px 4px hsla(255, 100%, 100%, 1);}
  }

  @-webkit-keyframes moveButtons {
    from { left: 5%;} 
    to { left: calc(100% - 300px);}
  }
  @-moz-keyframes moveButtons {
    from { left: 5%;} 
    to { left: calc(100% - 300px);}
  }
  @-o-keyframes moveButtons {
    from { left: 5%;} 
    to { left: calc(100% - 300px);}
  }
  @keyframes moveButtons {
    from { left: 5%;} 
    to { left: calc(100% - 300px);}
  }

  @keyframes highlightButton {
    from {box-shadow: 0px 0px 6px 4px hsla(0, 0%, 0%, 0.8);}
    to {box-shadow: 0px 0px 10px 12px hsla(189, 76%, 47%, 0.8);}
  }

  @-o-keyframes highlightButton {
    from {box-shadow: 0px 0px 6px 4px hsla(0, 0%, 0%, 0.8);}
    to {box-shadow: 0px 0px 10px 12px hsla(189, 76%, 47%, 0.8);}
  }

  @-moz-keyframes highlightButton {
    from {box-shadow: 0px 0px 6px 4px hsla(0, 0%, 0%, 0.8);}
    to {box-shadow: 0px 0px 10px 12px hsla(189, 76%, 47%, 0.8);}
  }

  @-webkit-keyframes highlightButton {
    from {box-shadow: 0px 0px 6px 4px hsla(0, 0%, 0%, 0.8);}
    to {box-shadow: 0px 0px 10px 12px hsla(189, 76%, 47%, 0.8);}
  }
