
body {
 text-align: center;
 background: url("../images/positive.png");
}

h1 {
    background-color: whitesmoke;
}

#joke-page {
    display: none; 
}
 
#media-page {
    display: none;
}

#event-page {
    display: none;
}


